/****************************************************************/
/*        Style sheet for Buceando por el mundo web site        */
/*        author: Barbara Colomer                               */
/*        version: Bootstrap                                    */
/*        comments: class project 2023-24                       */
/****************************************************************/

@font-face {
      font-family: aima;
      src: url(../fonts/AimaDisplay.ttf);
}
@font-face {
      font-family: garamonbb;
      src: url(../fonts/Garamonb.ttf);
}
@font-face {
      font-family: diving;
      src: url(../fonts/LostFish.ttf);
}
@font-face {
      font-family: garamondb;
      src: url(../fonts/Garamond.ttf);
    }
@font-face {
      font-family: embolism;
      src: url(../fonts/Embolism.ttf);
}


/****hero****/
#hero {
    background-image: url('../img/paisaje-submarino1.jpg');
    background-size: cover; 
    background-position: center;/
}

#diver{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
/**********  COLORS ***************/

.bg-aqua{
    background-color: #05D1D8;
}
.bg-deepblue{
color: #023b54;
}
.bg-oceanblue{
background-color: #0155D2;
}
.bg-fosasabisales{
background-color: #010D3D
}
.bg-mexicansea{
background-color: #B5E2DD;
}


.text-greylight{
color: #f2f2f2;
}
.border-deepsea{
border-color:  #03678B!important;
}
.text-fosasabisales{
color: #010D3D
}

.btn-aqua{
    background-color:#0BACD0;
    font-family: embolism;
}
.btn-aqua:hover{
    font-weight:bolder;
    font-size:larger;
   
}
/************* FONT STYLES ************/
.aima{
font-family: aima;
}

.garamondb{
font-family: garamondb;
}

.garamonbb{
font-family: garamonbb;
}

.embolism{
font-family: embolism;
}

.wavesnavbar{
    color: #010D3D;
    font-family: diving;
    font-size: 1.3em;  
}

.wavesnavbar:hover{
    color: #f2f2f2;
}


/************* SIZES ************/

.w-35{
    width: 35%;
}

.w-80{
    width: 80%;
}